.Rproj.user
.Rhistory
.RData
index.md.pdf
index.html
figure
cache
old
HomeRanges.bib
HomeRanges.log
fruit_biomass-blx.bib
fruit_biomass.aux
fruit_biomass.bbl
fruit_biomass.bcf
fruit_biomass.blg
fruit_biomass.run.xml
fruit_biomass-concordance.tex
fruit_biomass.log
fruit_biomass.synctex.gz
temp
AllFPV.csv
MinDBH.csv
Transects.csv
biomass_monthly.csv
framed.sty
pace_pheno.csv
fruit_biomass_2.tex
apa.bst
